* { color:teal;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	margin: auto;
	background-image: url("background_image.jpg"), url("paper.gif");
}
.umumiy{
	margin:auto;
    margin-right: 10%;
	margin-left: 10%;
	
}
.main-section {
	border: 10px solid white;
	background-color: white;
}
.header-box {
    font-size: 14pt;
	background-color: #A8F0F0;
}
.site-header{
	font-size: 40px;
	font-family: Helvetica;
}
.All_body{
	display: flex;
}
.body_1{
	border: 4px solid #C2E9E9;
	background-color: #E8FBFB;
	overflow: hidden;
}
.rasm_yozuv{
	display:flex;
}
.body_2{
	border: 4px solid #C2E9E9;
	background-color: #E8FBFB;
	overflow: hidden;
}
.rasm_yozuv2{
	display: flex;
	
}
.tema_1 {
	display: flex;
	align-items: center;
}
.date {
	border-bottom: 2px dashed blue;
}
.tema_2{
	display: flex;
	align-items: center;
}

.date_2{
	border-bottom: 2px dashed blue;
}
.Friends{
	box-sizing: border-box;
	border: 5px solid rgb(32, 131, 153);
    background-color: #8bdfdf;
	height: 130px;
	width: 300px;
	padding-left: 20px;
}



