* { color:teal;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	margin: auto;
	background-image: url("background_image.jpg"), url("paper.gif");
}
.umumiy{
	margin:auto;
    margin-right: 10%;
	margin-left: 10%;
	
}
.main-section {
	border: 5px solid green;
	background-color: white;
}
.header-box {
	border: 5px solid orangered;
	
}
.site-header{
	font-size: 40px;
	font-family: Helvetica;
}

.site-sub-header {
	border: 5px solid orange;
}
.body_1{
	border: 5px solid blue;
	background-color: #E8FBFB;
	overflow: hidden;
}
.rasm_yozuv{
	display:flex;
}
.body_2{
	border: 5px solid blue;
	background-color: #E8FBFB;
	overflow: hidden;
}
.rasm_yozuv2{
	display: flex;
	
}
.tema_1 {
	display: flex;
	align-items: center;
}
.date {
	border: 5px solid purple;
}
.tema_2{
	display: flex;
	align-items: center;
}

.date_2{
	border: 5px solid purple;
}



